*{
	 margin: 0;
	 padding: 0;
	}
body{
	 width: 100%;
	 height: 100%
}
		
header{
	  width: 100%;
	  height: 50px;
	  /*margin-top: 30px;*/
}
.a{
	 float: right;
	 margin-left: 25px;
	 margin-right: 25px;
	 margin-bottom: 15px;
	 text-decoration: none;
	 color: black;
	 font-size: 20px;
	 text-transform: capitalize;
	 margin-top: 30px;
}
.a:hover{
	  color: brown;
}
.gupta{
	padding: 0px;
	margin: 10px;
	margin-left: 35px;
	margin-right: 25px;
}
div{
	 flex-wrap: wrap;
	 display: flex;
	 margin: 20px;
	 padding: 20px;
}

.box{
	 width: 300px;
	 height: 150px;
	 background-color: #f7f9f9;
	 border-radius: 80px 20px;
}

#image{
	    width: 550px;
	    height: 430px;
	    float: right;
	    margin: 18px;
	    border-radius: 40px;
}
#text{
	  float: left;
}
.h1{
	 margin-left: 250px;
	 color: brown;
	 font-size: 70px;
	 font-family: chiller;
	 text-decoration: underline;
}
#img2{
	   margin: 20px;
	   padding: 10px;
	   border-radius: 40px;
}
#div{
	 border: 1px solid black
	 width:100%;
	 height: 250px;
	 background-color: black;
	 overflow: hidden;

}

#bor{
	  border: 1px solid black;
	  width: 200px;
	  height: 200px;
	  background-color: black;
	  margin: 20px;
	  margin-left: 50px;
}
footer{
	    width: 100%;
	    height: 400px;
	    background-color: black;

}
.text{
	  float: center;
	  
}
.imag{
	   float: left;
}
.link{
	   position: relative;
	   float: right;
	   color: white;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  margin: 20px;
  margin-left: 80px;
  }

.overlay {
  position: absolute;
  height: 265px;
  width: 190px;
  opacity: 0;
  transition: 2s;
  background-color: pink;
  border-radius: 40px;
  margin: 20px;
  margin-left: 80px;
}

.container:hover .overlay {
  opacity: 1;
}

.pawn {
  color: red;
  opacity: 0.9;
  font-size: 30px;
  position: absolute;
  margin-top: 40%;
  margin-left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}
#pg{
	   width:1280px;
	   height: 290px;
	   background-color: #34495e;
	   padding: 20px;
}
#gp{
	 margin:15px;
}
.pri{
	  text-decoration: underline;
	  color: purple;
	  font-family: Comic Sans MS;
}
.vai{
	  transition:8s;
}
.vai:hover{
	    transform:scale(1.5);
}
.mySlides {display: none;}


.slidertext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  /*bottom: 8px;*/
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  /*top: 0;*/
}

.dot {
  height: 18px;
  width: 18px;
  align-self: right;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media (max-width: 768px){
       
  .h1{
  	  color: green;
  }

	  #image{
	    width: 90%;
	    height: auto;
	    border-radius: 40px;
}

}
@media (min-width: 769px) and (max-width: 1100px){

	  #image{
	    width: 100%;
	    height: auto;
	    border-radius: 40px;
}
#text{
	  width: 100%;
	  text-align: justify-all;
}

}
@media (max-width:1345px){

  #div{
	 border: 1px solid black
	 width:100px;
	 height: 100%;
	 background-color: black;
	 overflow: hidden;
	 margin-left: 20px;

}

#bor{
	  border: 1px solid black;
	  width: 200px;
	  height: 200px;
	  background-color: black;
}

}
@media (max-width:649px){

	  #pg{
	   width:90%;
	   height: 100%;
	   background-color: #34495e;
	   padding: 20px;
}
#gp{
	 margin:15px;
	 height: auto;
	 width: 100%;
	 display: flex;
	 flex-direction: row-reverse;
	 
}

}
@media (min-width: 650px) and (max-width: 1299px){

  #pg{
	   width:100%;
	   height: 100%;
	   background-color: #34495e;
	   padding: 20px;
}  

}

@media (max-width: 500px){

	  footer{
	    width: 100%;
	    height: 100%;
	    background-color: black;

}
.text{
	  float: center;
	  
}
.imag{
	   float: left;
}
.link{
	   position: relative;
	   float: right;
	   color: white;
}
}

@media (min-width: 501px) and (max-width: 1200px){

	  footer{
	    width: 100%;
	    height: 100%;
	    background-color: black;

}

.imag{
	   word-spacing: 20px;
}
.link{
	   color: white;
}
}
@media (max-width: 700px) and (min-width: 950px){

	footer{
	    width: auto;
	    height: 100%;
	    background-color: black;

}
.imag{
	   word-spacing: 20px;
}
.link{
	   color: white;
}

}
